@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* ========================= GLOBAL FONT ========================= */
* {
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) #ffffff;
}
/* ========================= THEME VARIABLES ========================= */
:root {}

/* Tailwind theme tokens */
@theme {
    --color-text-blue: #003360;
    --color-text-light-blue: #0088FF;
    --color-light-blue: #9CD0FF;
    --white: #FFFFFF;
    --color-light-gray: #C1C1C1;
    /* gradient */
    --color-primary: #0022FF;
    --color-secondary: #0088FF;
}

/* ========================= TAILWIND UTILITIES ========================= */
@utility btn-gradient {
    @apply bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-secondary)];
}

@utility text-gradient {
    @apply bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-secondary)] bg-clip-text text-transparent;
}

/* ========================= GLOBAL THIN SCROLLBAR ========================= */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px;
    /* thin scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* white background */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    border-radius: 10px;
}

/* Remove up/down arrows */
::-webkit-scrollbar-button {
    display: none;
}






body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  pointer-events: none;



  /* Blobs */
  background-image: 
    radial-gradient(circle at left center, #45A8FF, transparent 50%),
    radial-gradient(circle at  right center, #FF57DD, transparent 50%);
  background-repeat: no-repeat;
  background-size: 500px 500px, 400px 400px;

  /* Glow / Blur */
  filter: blur(400px);
}
